html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: block;
    box-sizing: border-box;

    width: 960px;
    height: 100%;

    padding: 15px;
    margin: 0px auto 0px auto;

    background-color: #eeeeee;
}